/Binaries/
/Build/
/Intermediate/
/Saved/

/Content/Collections/
/Content/Developers/

/Plugins/MediaPipe/Binaries/
/Plugins/MediaPipe/Intermediate/

.vs/
*.sln
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.pdb
